# Ignore virtual environment
venv/


# Hide all environment files
.env
**/.env
*.env

# Ignore temp checkpoints
notebooks/.ipynb_checkpoints/

# Ignore raw / cleaned data
#data/raw/
#data/cleaned/
assets/

